*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.titulo {
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}

.titulo h1 {
    flex: 1;
    text-align: center;
}

.titulo img, .espaciado {
    width: 150px;   
}

/* Página Categoría azul*/
#body_azul{
    background-color: rgb(84, 84, 250);
}

.azul_header{
    background-color: rgb(0, 0, 149);
    color: white;
    width: 100%;         
    padding: 50px 30px;  
    display: block;      
    box-sizing: border-box;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    padding: 2px;
}

#azul-pregunta-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#azul-pregunta-texto {
    background: #fff;
    border-radius: 10px;
    padding: 12px 15px;
    color: #1a2a4a;
}

#respuesta-lista {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#respuesta-lista li {
    background: #2a3f6f;
    color: #fff;
    border-radius: 8px;
    padding: 14px 19px;
    font-size: 1rem;
    border: 2px solid transparent;
    margin-top: 30px;

}
 
#respuesta-lista li:hover {
    background: #3a5490;
    border-color: #6a8fd8;
}

#azul-pregunta-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000000;
    margin-bottom: 0.5rem;
}

/* Página categoría rosa */
#body_rosa{
    background-color: rgb(238, 161, 216);
}

.rosa_header{
    background-color: #FB64B6;
    color: white;
    width: 100%;         
    padding: 50px 30px;  
    display: block;      
    box-sizing: border-box;
    text-align: center;
}

#rosa-pregunta-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#respuesta-lista-rosa {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#respuesta-lista-rosa li {
    background: #e928bc;
    color: #fff;
    border-radius: 8px;
    padding: 14px 19px;
    font-size: 1rem;
    border: 2px solid transparent;
    margin-top: 30px;
}
 
#respuesta-lista-rosa li:hover {
    background: #e973c4;
    border-color: #f80c99;
}

#rosa-pregunta-texto {
    background: #fff;
    border-radius: 10px;
    padding: 12px 15px;
    color: #940059;
}

#rosa-pregunta-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000000;
    margin-bottom: 0.5rem;
}

/* Página categoría amarillo */
#body_amarillo{
    background-color: #FDF48B;
}

.amarillo_header{
    background-color: #FCEB31;
    color: white;
    width: 100%;         
    padding: 50px 30px;  
    display: block;      
    box-sizing: border-box;
    text-align: center;
}

#amarillo-pregunta-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#respuesta-lista-amarillo {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#respuesta-lista-amarillo li {
    background: #ebcc00;
    color: #fff;
    border-radius: 8px;
    padding: 14px 19px;
    font-size: 1rem;
    border: 2px solid transparent;
    margin-top: 30px;
}
 
#respuesta-lista-amarillo li:hover {
    background: #fff020;
    border-color: #e2d700;
}

#amarillo-pregunta-texto {
    background: #fff;
    border-radius: 10px;
    padding: 12px 15px;
    color: #6a6c00;
}

#amarillo-pregunta-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000000;
    margin-bottom: 0.5rem;
}


/* Página categoría morada */
#body_morado{
    background-color: #ED6AFF;
}

.morado_header{
    background-color: #B900D1;
    color: white;
    width: 100%;         
    padding: 50px 30px;  
    display: block;      
    box-sizing: border-box;
    text-align: center;
}

#morado-pregunta-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#respuesta-lista-morado {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#respuesta-lista-morado li {
    background: #ad31cc;
    color: #fff;
    border-radius: 8px;
    padding: 14px 19px;
    font-size: 1rem;
    border: 2px solid transparent;
    margin-top: 30px;
}
 
#respuesta-lista-morado li:hover {
    background: #d97eec;
    border-color: #9301a3;
}

#morado-pregunta-texto {
    background: #fff;
    border-radius: 10px;
    padding: 12px 15px;
    color: #5a005a;
}

#morado-pregunta-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000000;
    margin-bottom: 0.5rem;
}


/* Página categoría verde */
#body_verde{
    background-color: #C2E9A0;
}

.verde_header{
    background-color: #64A928;
    color: white;
    width: 100%;         
    padding: 50px 30px;  
    display: block;      
    box-sizing: border-box;
    text-align: center;
}

#verde-pregunta-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#respuesta-lista-verde {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#respuesta-lista-verde li {
    background: #198304cf;
    color: #fff;
    border-radius: 8px;
    padding: 14px 19px;
    font-size: 1rem;
    border: 2px solid transparent;
    margin-top: 30px;
}
 
#respuesta-lista-verde li:hover {
    background: #6ef15c;
    border-color: #00a408;
}

#verde-pregunta-texto {
    background: #fff;
    border-radius: 10px;
    padding: 12px 15px;
    color: #30a000;
}

#verde-pregunta-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000000;
    margin-bottom: 0.5rem;
}





.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circulo {
  width: 700px;
  height: 700px;
  border: 7px solid black;
  border-radius: 70%;
  background-color: rgb(189, 189, 189);
  background: 
      linear-gradient(90deg, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%),
      linear-gradient(210deg, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%),
      linear-gradient(330deg, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%);
}