*{
    margin: 0;
    padding: 0;
}
.titulo {
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
}

.titulo h1 {
    flex: 1;
    text-align: center;
}

.titulo img, .espaciado {
    width: 150px;   /* mismo tamaño los dos */
}